
A:link { text-decoration: none; color: #000000; }
A:visited { text-decoration: none; color: #00AAAA; }
A:hover { text-decoration: underline; color: #000000; }
A:active { text-decoration: underline; color: #0000FF; }

div.c10 {text-align: center}
table.c9 {border-collapse: collapse;}
span.c8 {color: #00FF00; font-family: FlamencoD; font-size: 70%}
span.c7 {color: #00FF00; font-family: Times New Roman; font-size: 80%}
span.c6 {font-family: Times New Roman}
em.c5 {font-style: normal;}
span.c4 {font-size: 80%}
p.c3 {color: #FF0000}
span.c2 {color: #FF0000; font-size: 80%}
span.c1 {font-size: 70%}
